---
layout: home
permalink: /
---

<h2>Features</h2>
<p>Schedule seasons in minutes with our walkthrough wizard.</p>

<ul class="features-list">
  <li>
    {% include svg/megaphone.html %}
    <span>Simple setup wizard</span>
  </li>
  <li>
    {% include svg/megaphone.html %}
    <span>Simple setup wizard</span>
  </li>
  <li>
    {% include svg/megaphone.html %}
    <span>Simple setup wizard</span>
  </li>
  <li>
    {% include svg/profile.html %}
    <span>Unlimited Seasons</span>
  </li>
  <li>
    {% include svg/profile.html %}
    <span>Unlimited Seasons</span>
  </li>
  <li>
    {% include svg/profile.html %}
    <span>Unlimited Seasons</span>
  </li>
  <li>
    {% include svg/world.html %}
    <span>Unlimited Teams, Divisions, Fields</span>
  </li>
  <li>
    {% include svg/world.html %}
    <span>Unlimited Teams, Divisions, Fields</span>
  </li>
  <li>
    {% include svg/world.html %}
    <span>Unlimited Teams, Divisions, Fields</span>
  </li>
</ul>

<div class="talking-heads">
  <div class="row">
    <div class="col-sm-6">
      <div class="img-wrapper">
        <img src="/img/testimonial-one.png">
      </div>
      <div>
        <strong>Morgan Sessions, Team Mom</strong>
        <p>"We believe in purposeful design that is built on a strategy to convert customers."</p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="img-wrapper">
        <img src="/img/testimonial-two.png">
      </div>
      <div>
        <strong>Dan Vick, Coach</strong>
        <p>"We believe in purposeful design that is built on a strategy to convert customers."</p>
      </div>
    </div>
  </div>
</div>
