<footer>
  <div class="inner">
    <h2>Price</h2>
    <p>Simple straightforward pricing. No gimmicks.</p>

    <div class="pricing-card">
      <h1>$49/yr</h1>
      <span>Free Trial / No Credit Card to setup season</span>
      <span>Full Features</span>
      <span>Unlimited Seasons</span>
      <span>Access from any device</span>
      <a href="https://app.getfieldassist.com/register" class="btn btn-primary">Get Started Free</a>
    </div>

    <p>Copyright &copy; <script>document.write((new Date()).getFullYear())</script> {{ site.title }}. All rights reserved.</p>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92424942-3', 'auto');
  ga('send', 'pageview');
</script>

<script src="https://use.typekit.net/stw8fdn.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
