<header>
  <nav>
    <a href="/" class="logo">
      {% include svg/logo.html %}
    </a>
    <div class="pull-right">
      <ul>
        <li><a href="https://app.getfieldassist.com/login">Sign In</a></li>
        <li><a href="https://app.getfieldassist.com/register" class="btn btn-default">Sign Up</a></li>
      </ul>
    </div>
  </nav>
  <div class="hero">
    <div class="row">
      <div class="col-sm-6">
        <img src="/img/hero-laptop.png">
      </div>
      <div class="col-sm-6">
        <div class="inner">
          <h1>Schedule little league seasons hassle-free.</h1>
          <a href="https://app.getfieldassist.com/register" class="btn btn-primary">Get Started Free</a>
          <p>Create a season for free.<br>No Credit Card needed to sign up</p>
        </div>
      </div>
    </div>
  </div>
</header>
